:root {
  background-color: grey;
}
#header img {
  width: 50px;
  padding-left: 30px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: cyan;
}
#nav-bar {
  display: flex;
  position: static;
}
#header a {
  display: block;
  padding: 1em;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
#form {
  margin-top: 20px;
}
#video {
  border-radius: 10%;
  box-shadow: cyan;
}

/* ****** ****** */
@media all and (max-width: 600px) {
  img {
    margin: 0.25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
  }

  #header {
    flex-direction: column;
  }

  #header a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
